In [1]:
import pandas as pd

url = 'https://github.com/chrsitiancook/Lancaster-Traffic/blob/main/DATA%20SOURCES/LANCASTER_2021/CRASH_LANCASTER_2021.csv?raw=true'
df = pd.read_csv(url, index_col = 0)

In [2]:
df.head()

,AUTOMOBILE_COUNT,BELTED_DEATH_COUNT,BELTED_SUSP_SERIOUS_INJ_COUNT,BICYCLE_COUNT,BICYCLE_DEATH_COUNT,BICYCLE_SUSP_SERIOUS_INJ_COUNT,BUS_COUNT,CHLDPAS_DEATH_COUNT,CHLDPAS_SUSP_SERIOUS_INJ_COUNT,COLLISION_TYPE,...,WZ_LN_CLOSURE,WZ_MOVING,WZ_OTHER,WZ_SHLDER_MDN,ROADWAY_CLEARED,WEATHER1,WEATHER2,WZ_WORKERS_INJ_KILLED,SECONDARY_CRASH,INTERSECTION_RELATED
ARRIVAL_TM,,,,,,,,,,,,,,,,,,,,,
2204.0,2,0,0,0,0,0,0,0,0,4,...,NaN,NaN,NaN,NaN,2241.0,3,3.0,NaN,N,NaN
502.0,1,0,0,0,0,0,0,0,0,7,...,NaN,NaN,NaN,NaN,NaN,10,NaN,NaN,N,N
2020.0,1,0,0,0,0,0,0,0,0,7,...,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,N,N
2318.0,0,0,0,0,0,0,0,0,0,5,...,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,N,N
1315.0,0,0,0,0,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,N,N

In [3]:
dow_replace = {1:'Sunday', 2:'Monday',3:'Tuesday',4:'Wednesday',5:'Thursday',6:'Friday',7:'Saturday',9:'Unknown'}

df.replace({'DAY_OF_WEEK': dow_replace}, regex=True, inplace=True)

In [4]:
df['DAY_OF_WEEK'].value_counts()

Friday       917
Thursday     871
Saturday     820
Wednesday    814
Monday       788
Tuesday      740
Sunday       676
Name: DAY_OF_WEEK, dtype: int64

In [8]:
df['LOC']= str(df['DEC_LAT']) + str(df['DEC_LONG'])

In [9]:
print(df['LOC'])

ARRIVAL_TM
2204.0    ARRIVAL_TM\n2204.0    40.0519\n502.0     40.10...
502.0     ARRIVAL_TM\n2204.0    40.0519\n502.0     40.10...
2020.0    ARRIVAL_TM\n2204.0    40.0519\n502.0     40.10...
2318.0    ARRIVAL_TM\n2204.0    40.0519\n502.0     40.10...
1315.0    ARRIVAL_TM\n2204.0    40.0519\n502.0     40.10...
                                ...
1157.0    ARRIVAL_TM\n2204.0    40.0519\n502.0     40.10...
1702.0    ARRIVAL_TM\n2204.0    40.0519\n502.0     40.10...
1554.0    ARRIVAL_TM\n2204.0    40.0519\n502.0     40.10...
2035.0    ARRIVAL_TM\n2204.0    40.0519\n502.0     40.10...
1426.0    ARRIVAL_TM\n2204.0    40.0519\n502.0     40.10...
Name: LOC, Length: 5626, dtype: object

In [11]:
df.to_excel('C:\\Users\\Christian\\OneDrive\\Desktop\\crash_output.xls', sheet_name='did we do it')

C:\Users\Christian\AppData\Local\Temp\ipykernel_7328\1138114709.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel('C:\\Users\\Christian\\OneDrive\\Desktop\\crash_output.xls', sheet_name='did we do it')